/* app.css stylesheet */

.profile {
  width: 300px;
  height: 325px;
}

.side-height {
  min-height: calc(100vh - 100px);
}
.tab :hover{
    background-color: rgba(21,153,232,.6);
    color:white;
}
.viewContainer{
   height: calc(100vh - 100px);
   overflow-y: auto;
   
}

