<!DOCTYPE html>
<html lang="en" ng-app="optimizeApp" class="no-js" dir="ltr">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Class Schedule Optimizer</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/foundation-icons/foundation-icons.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/normalize.css">
  <script src="js/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"   integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="   crossorigin="anonymous"></script>
  <script src="js/angular/angular.js"></script>
  <script src="js/angular/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
  <script src="js/angular/angular-resource.js"></script>
  <script src="js/foundation.js"></script>
  <script src="app.js"></script>
</head>
  
<body ng-controller="mainCtrl">
  
<div class id="main"> <!--Main container-->
    
  <!--div class="title-bar" data-responsive-toggle="sideBar" data-hide-for="medium" style="color:black;background-color:rgb(230,230,230)">
    <button class="menu-icon dark" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div-->
  
  <div id="main-menu" class="top-bar">
    <div class="top-bar-left">
      <ul class="menu align-left">
        <li><button class="menu-icon dark" type="button" ng-click="toggle2()"></button></li>
        <li class="menu-text"><a href="#default" style="padding:0px">Class Schedule Optimizer</a></li>
        <li>
          <ul class="menu"> <!--Menu Buttons-->
            <li ng-class="{active: isActive('/view1')}" class="tab"><a href="#view1" id="schedule">Schedule</a></li>
            <li ng-class="{active: isActive('/view2')}" class="tab"><a href="#view2" id="results">Results</a></li>
            <li ng-class="{active: isActive('/view3')}" class="tab"><a href="#view3" id="about">About</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="top-bar-right show-for-large">
      <ul class="menu align-right">
        <li><input type="text" placeholder="Search" ng-model="searchBox"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
    
  <div class="expanded row side-height" id="row1"> <!--Wrapper:Row1 pulls down 90% of window and expands across rest of width-->
    <div id="sideBar" resizer ng-class="{'hide':!sidebarValue}" class="medium-3 small-3 columns" style="background-color:rgb(240,240,240)"> <!--Sidebar Column Div-->
    
      <div align="center"> <!--Sidebar Container-->
        <h4 align="center">Parameters</h4>
        <hr>
        <div ng-controller="sortableController"><span data-tooltip aria-haspopup="false" class="has-tip right" data-disable-hover="true" tabindex="1" title="Sort these in order of importance (Most important on top). The most important paramenters will be weighted more in th optimization process.">
          <ul ui-sortable="sortableOptions" class="list" ng-model="list1" style="margin-left:0">
            <li ng-repeat="item in list1" class="expanded hollow secondary button" style="margin-bottom:3px">{{item}}</li>
          </ul></span>
          <p align="center">Click on the Parameters for more information about them.</p>
        
          <hr>
          <div>
             <span data-tooltip aria-haspopup="false" class="has-tip right" data-disable-hover="true" tabindex="1" title="This function is used to indicate how good the schedule is">
            <h4 align="center">Fitness Function</h4>
            <p align="center">4{{list1[0].substring(list1[0].length-3, list1[0].length)}} + 3{{list1[1].substring(list1[1].length-3, list1[1].length)}} + 2{{list1[2].substring(list1[2].length-3, list1[2].length)}} + {{list1[3].substring(list1[3].length-3, list1[3].length)}}</p>
          </div>
        </div>
      
        <hr>
        <ul class="stacked-for-small small button-group" style="margin-left:0">
          <a href="#" data-tooltip aria-haspopup="true" class="button has-tip right" data-disable-hover="false" tabindex="1" title="Play through all iterations"><i class="fi-play" style="font-size:15px"></i></a>
          <a href="#" data-tooltip data-options="hover_delay:5000ms" class="button has-tip right" data-disable-hover="false" tabindex="1" title="Pause the iteration sequence" class="button"><i class="fi-pause" style="font-size:15px"></i></a>
          <a href="#" data-tooltip aria-haspopup="true" class="button has-tip right" data-disable-hover="false" tabindex="1" title="Return to the previous iteration" class="button"><i class="fi-previous" style="font-size:15px"></i></a>
          <a href="#" data-tooltip aria-haspopup="true" class="button has-tip right" data-disable-hover="false" tabindex="1" title="Step through to the next iteration" class="button"><i class="fi-next" style="font-size:15px"></i></a>        
        </ul>
      </div>
    </div>
     
    <div ng-view class="columns viewContainer" style="margin:10px"></div> <!--Dynamic view container-->
     
  </div> <!--row1-->
  
  <div id="version">
    Version 0.1
  </div>
    

</div> <!--Main container-->

<script>
  $(document).foundation(); // Initializes foundation's javascript, leave this here.
</script> 
    
</body>
</html>