<!--default.html-->

<div class="row align-middle">
  <div>
    <h2 align="middle">Welcome to our Computer Science Graduation Plan generator!</h2>
    <p>This application takes your preferences and uses our Bee Colony Optimization Algorithm to create the best possible graduation plan to fit your needs.</p>   
    <h3 align="middle">Instructions</h3>
  
    <ol>
      <li>
        <p>Drag and Drop your preferences, on the left, in the order of most important value on top, to least important on the bottom </p>
      </li>
      <li>
        <p>Notice how our customized function,below the preferences, adjusts to your changes </p>
      </li>
      <li>
        <p>Press The Play Button </p>
      </li>
      <li>
        <p>See your Schedule </p>
      </li>
    </ol>
    
    <p>Enjoy our Software!</p>
      
  </div>
</div>