<!--testView.html-->

<div class="row">
  <!--<div>
    <p>Inside controller: {{message}}</p>
    <p>Outside controller: {{data}}</p>
    <p>Search Box Value: {{searchBox}}</p>
  </div>-->
  <div class="columns" align="center">
  <p><h2>Meet the team!</h2></p>
  <p><h3>Drew Hall</h3><image class="profile" src="views/pictures/DrewPhoto.jpg" alt="Drew's Picture"></p>
  <p><h3>Shane Thompson</h3><image class="profile" src="views/pictures/ShanePhoto.jpg" alt="Shane's Picture"></p>
  <p><h3>Peyton Radford</h3><image class="profile" src="views/pictures/PeytonPhoto.jpg" alt="Peyton's Picture"></p>
  <p><h3>Tim Tasse</h3><image class="profile" src="views/pictures/TimPhoto.jpg" alt="Tim's Picture"></p>
  <p><h3>Jonathan Hammond</h3><image class="profile" src="views/pictures/JonathanPhoto.jpg" alt="Jonathan's Picture"></p>
  </div>
</div>