<!--testView.html-->

<div class="row">
  <!--<div>
    <p>Inside controller: {{message}}</p>
    <p>Outside controller: {{data}}</p>
    <p>Search Box Value: {{searchBox}}</p>
  </div>-->
  <div class="columns" align="center">
  <p><h2>Meet the team!</h2></p>
  <p><h3>Drew Hall</h3><image src="" alt="Drew's Picture coming soon"></p>
  <p><h3>Shane Thompson</h3><image src="" alt="Shane's Picture coming soon"></p>
  <p><h3>Peyton Radford</h3><image src="" alt="Peyton's Picture coming soon"></p>
  <p><h3>Tim Tasse</h3><image src="" alt="Tim's Picture coming soon"></p>
  <p><h3>Jonathan Hammond</h3><image src="" alt="Jonathan's Picture coming soon"></p>
  </div>
</div>