<!--view3.html-->

<div class="row" style="margin-right:1px">
  <div ng-repeat="member in team" class="callout" style="background-color:rgb(240,240,240)">
  <div class="media-object stack-for-small">
    <div class="media-object-section middle align-self-center"> 
      <div class="thumbnail">
        <image src={{member.image}}/>
      </div>
    </div>
    <div class="media-object-section main-section callout">
      <h3 align="center"><h3>{{member.name}}</h3>  
      <p>{{member.info}}</p>
    </div>
  </div>
  </div>
</div>

