<!--testView.html-->

<div class="row">
  <div class="media-object stack-for-small">
    <div class="media-object-section middle align-self-center"> 
      <div class="thumbnail">
        <image src="views/pictures/DrewPhoto.jpg"/>
      </div>
    </div>
    <div class="media-object-section main-section">
      <h3 align="center"><h3>Drew Hall</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="media-object stack-for-small">
    <div class="media-object-section middle align-self-center"> 
      <div class="thumbnail">
        <image src="views/pictures/ShanePhoto.jpg"/>
      </div>
    </div>
    <div class="media-object-section main-section">
      <h3 align="center"><h3>Shane Thompson</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="media-object stack-for-small">
    <div class="media-object-section middle align-self-center"> 
      <div class="thumbnail">
        <image src="views/pictures/PeytonPhoto.jpg"/>
      </div>
    </div>
    <div class="media-object-section main-section">
      <h3 align="center"><h3>Peyton Radford</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="media-object stack-for-small">
    <div class="media-object-section middle align-self-center"> 
      <div class="thumbnail">
        <image src="views/pictures/TimPhoto.jpg"/>
      </div>
    </div>
    <div class="media-object-section main-section">
      <h3 align="center"><h3>Tim Tasse</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="media-object stack-for-small">
    <div class="media-object-section middle align-self-center"> 
      <div class="thumbnail">
        <image src="views/pictures/JonathanPhoto.jpg"/>
      </div>
    </div>
    <div class="media-object-section main-section">
      <h3 align="center"><h3>Jonathan Hammond</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
    
  <!--div class="columns" align="center">
    <p><h2>Meet the team!</h2></p>
    <p><h3>Drew Hall</h3><image class="profile" src="views/pictures/DrewPhoto.jpg" alt="Drew's Picture"></p>
    <p><h3>Shane Thompson</h3><image class="profile" src="views/pictures/ShanePhoto.jpg" alt="Shane's Picture"></p>
    <p><h3>Peyton Radford</h3><image class="profile" src="views/pictures/PeytonPhoto.jpg" alt="Peyton's Picture"></p>
    <p><h3>Tim Tasse</h3><image class="profile" src="views/pictures/TimPhoto.jpg" alt="Tim's Picture"></p>
    <p><h3>Jonathan Hammond</h3><image class="profile" src="views/pictures/JonathanPhoto.jpg" alt="Jonathan's Picture"></p>
  </div-->
    
</div>

