<!--view1.html-->

<div id="schedule" class="row align-middle" style="margin:1px">
  <div class="media-object stack-for-small">
    <div class="media-object-section middle align-self-center"> 
      <div class="thumbnail">
        <image src="views/pictures/fakeSchedule.png"/>
      </div>
    </div>
    <div class="media-object-section main-section callout" >
      <h3 align="center">Your Optimum Schedule</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>



