<!--view2.html-->

<div id="graphs" class="row">
    <div class="medium-4 columns" align="center">
        <h3 >Plans Scatter Plot</h3>  
        <image src="pictures/fakeGraph1.png"/>
    </div>
    <div class="medium-4 columns" align="center">
        <h3 >Optimum Schedule Fitness</h3>  
        <image src="pictures/fakeGraph2.png"/>
    </div>
    <div class="medium-4 columns" align="center">
        <h3 >Workload by quarter</h3>  
        <image src="pictures/fakeGraph3.png"/>
    </div>
</div>
