<!--view2.html-->

<div id="graphs" class="row align-middle">
    <div class="medium-12 small-12 columns" align="center">
        <h3 >Plans Scatter Plot</h3>  
        <image src="views/pictures/fakeGraph1.png"/>
    </div>
    <div class="medium-6 small-6 columns" align="center">
        <h3>Optimum Schedule Fitness</h3>  
        <image src="views/pictures/fakeGraph2.png"/>
    </div>
    <div class="medium-6 small-6 columns" align="center">
        <h3 >Workload by quarter</h3>  
        <image src="views/pictures/fakeGraph3.png"/>
    </div>
</div>
