<!--view1.html-->

<div class="row">
  <div class="columns" style="border-style:solid;border-width:1px;border-color:rgb(140,140,140);margin-bottom:5px">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        {{message}}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
</div>
<div class="row">
  <div class="6 columns" style="border-style:solid;border-width:1px;border-color:rgb(140,140,140); margin-right:3px">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
  <div class="6 columns" style="border-style:solid;border-width:1px;border-color:rgb(140,140,140);margin-left:2px">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
</div>
