<!--view1.html-->

<div>
    <div id="schedule" class="row columns">
      <h2 align="center">Your Optimum Schedule</h2>
        <image src="pictures/fakeSchedule.png"/>
    </div>
    <div id="graphs" class="row">
      <div class="medium-4 columns">
        <h3 align="center">Graph1</h3>  
        <image src="pictures/fakeGraph1.png"/>
      </div>
      <div class="medium-4 columns">
        <h3 align="center">Graph2</h3>  
        <image src="pictures/fakeGraph2.png"/>
      </div>
      <div class="medium-4 columns">
        <h3 align="center">Graph3</h3>  
        <image src="pictures/fakeGraph3.png"/>
      </div>
    </div>

</div>
